{{ $anime := resources.Get "js/anime.min.js" }}
{{ $interact := resources.Get "js/interact.min.js" }}
{{ $glitch := resources.Get "js/glitch-canvas.min.js" }}
{{ $simplebar := resources.Get "js/simplebar.min.js" }}
{{ $threescript := resources.Get "js/threescript.js" }}
{{ $global := resources.Get "js/global.js" }}
{{ $js := slice $simplebar $global | resources.Concat "js/bundle.js" | resources.Minify | resources.Fingerprint }}
{{ $threeall := slice $simplebar $threescript | resources.Concat "js/threebundle.js" | resources.Minify | resources.Fingerprint }}
<script async type="module" src="{{ $threeall.RelPermalink }}" integrity="{{ $threeall.Data.Integrity }}"></script>
<!-- <script async src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script> -->
