<div class="loading">
  <p>U</p>
  <p>Ü</p>
</div>

<button class="btn btn--header btn--menu">
  <div class="info">

    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 53 53" style="enable-background:new 0 0 53 53;" xml:space="preserve">
	<g>
		<rect x="27" y="29" width="3" height="2"/>
		<path d="M45,51V1c0-0.122-0.029-0.239-0.071-0.351c-0.008-0.02-0.013-0.04-0.022-0.06c-0.046-0.101-0.108-0.192-0.185-0.274
			c-0.016-0.016-0.032-0.03-0.049-0.046c-0.029-0.026-0.054-0.056-0.085-0.079c-0.059-0.043-0.122-0.076-0.188-0.105
			c-0.005-0.002-0.009-0.006-0.014-0.008c-0.111-0.046-0.229-0.066-0.349-0.07C44.024,0.007,44.013,0,44,0H10C9.447,0,9,0.448,9,1
			v50H4v2h6h34h5v-2H45z M25,47.18V8.227l18-5.85V50.78L25,47.18z M11,2h26.687L23.69,6.549C23.279,6.683,23,7.067,23,7.5V48
			c0,0.477,0.337,0.887,0.804,0.98L33.901,51H11V2z"/>
	</g>
</svg>

  </div>
</button>
<button class="btn btn--header btn--sound">
  <div class="info info--off">
    <svg enable-background="new 0 0 294.843 294.843" version="1.1" viewBox="0 0 294.84 294.84"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="m251.49 69.611c-2.656 1.981-3.204 5.74-1.224 8.396 15.041 20.172 22.991 44.175 22.991 69.414 0 64.098-52.147 116.25-116.24 116.25-3.313 0-6 2.687-6 6 0 3.314 2.687 6 6 6 70.715 0 128.24-57.531 128.24-128.25 0-27.844-8.773-54.327-25.37-76.587-1.981-2.657-5.74-3.205-8.397-1.223z" />
      <path
        d="m157.01 31.176c22.113 0 43.62 6.231 62.197 18.02 0.997 0.633 2.109 0.935 3.209 0.935 1.986 0 3.929-0.985 5.072-2.786 1.775-2.798 0.946-6.505-1.852-8.281-20.503-13.011-44.233-19.888-68.627-19.888-3.313 0-6 2.687-6 6s2.688 6 6.001 6z" />
      <path
        d="m293.08 1.757c-2.342-2.343-6.143-2.343-8.484 0l-78.454 78.453c-13.786-10.106-30.773-16.092-49.138-16.092-3.313 0-6 2.687-6 6 0 3.314 2.687 6 6 6 15.051 0 29.019 4.7 40.538 12.692l-22.293 22.293c-5.491-2.77-11.687-4.34-18.245-4.34-3.313 0-6 2.687-6 6s2.687 6 6 6c3.18 0 6.237 0.528 9.097 1.489l-89.315 89.315-9.226-9.212c-1.125-1.123-2.649-1.754-4.239-1.754h-51.326v-102.36h51.326c1.59 0 3.114-0.631 4.239-1.754l54.926-54.842v96.776c0 3.313 2.687 6 6 6s6-2.687 6-6v-111.25c0-2.426-1.461-4.613-3.702-5.542-2.242-0.928-4.821-0.417-6.538 1.296l-63.407 63.312h-54.844c-3.313 0-6 2.687-6 6v114.36c0 3.313 2.687 6 6 6h54.844l7.462 7.451-66.548 66.549c-2.343 2.343-2.343 6.142 0 8.485 1.171 1.171 2.707 1.757 4.243 1.757s3.071-0.586 4.243-1.757l66.555-66.555 47.454 47.382c1.147 1.146 2.681 1.754 4.241 1.754 0.773 0 1.554-0.149 2.297-0.458 2.241-0.929 3.702-3.117 3.702-5.542v-74.246c0-3.313-2.687-6-6-6s-6 2.687-6 6v59.776l-37.208-37.152 91.417-91.418c5.517 5.227 8.968 12.613 8.968 20.794 0 15.803-12.856 28.66-28.659 28.66-3.313 0-6 2.687-6 6s2.687 6 6 6c22.42 0 40.659-18.24 40.659-40.66 0-11.49-4.798-21.874-12.487-29.275l21.659-21.659c13.237 12.953 21.473 30.996 21.473 50.934 0 39.317-31.986 71.303-71.304 71.303-3.313 0-6 2.686-6 6 0 3.313 2.687 6 6 6 45.934 0 83.304-37.37 83.304-83.303 0-23.247-9.582-44.29-24.992-59.415l77.763-77.763c2.342-2.343 2.342-6.142-1e-3 -8.485z" />
    </svg>
  </div>
  <div class="info none info--on">
    <svg enable-background="new 0 0 294.843 294.843" version="1.1" viewBox="0 0 294.84 294.84"
      xmlns="http://www.w3.org/2000/svg">
      <g transform="translate(0,4.794)">
        <path
          d="m205.92 24.039c-3.065-1.265-6.571 0.193-7.835 3.256-1.265 3.063 0.193 6.571 3.256 7.835 43.688 18.036 71.917 60.231 71.917 107.5 0 64.098-52.147 116.24-116.25 116.24-3.314 0-6 2.687-6 6s2.686 6 6 6c70.715 0 128.25-57.53 128.25-128.24 0-52.142-31.142-98.691-79.338-118.59z" />
        <path
          d="m157.01 225.93c45.934 0 83.304-37.37 83.304-83.303s-37.37-83.303-83.304-83.303c-3.313 0-6 2.687-6 6 0 3.314 2.687 6 6 6 39.317 0 71.304 31.986 71.304 71.303s-31.987 71.303-71.304 71.303c-3.313 0-6 2.686-6 6s2.687 6 6 6z" />
        <path
          d="m176.54 163.6c-2.424 2.258-2.559 6.055-0.3 8.479 1.182 1.269 2.784 1.911 4.392 1.911 1.464 0 2.932-0.533 4.088-1.61 8.231-7.667 12.952-18.513 12.952-29.757 0-22.419-18.24-40.659-40.66-40.659-3.313 0-6 2.687-6 6s2.687 6 6 6c15.803 0 28.66 12.856 28.66 28.659-1e-3 8.042-3.244 15.491-9.132 20.977z" />
        <path
          d="m130.79 14.84c-2.241-0.928-4.821-0.417-6.538 1.296l-63.408 63.312h-54.844c-3.313 0-6 2.687-6 6v114.36c0 3.313 2.687 6 6 6h57.326c3.313 0 6-2.687 6-6s-2.687-6-6-6h-51.326v-102.36h51.326c1.59 0 3.114-0.631 4.239-1.754l54.926-54.842v215.55l-29.627-29.583c-2.346-2.341-6.145-2.339-8.485 7e-3 -2.341 2.345-2.338 6.144 7e-3 8.485l39.867 39.806c1.147 1.146 2.681 1.754 4.241 1.754 0.773 0 1.554-0.149 2.297-0.458 2.241-0.929 3.702-3.117 3.702-5.542v-244.49c-2e-3 -2.426-1.463-4.613-3.703-5.542z" />
      </g>
    </svg>
  </div>
</button>

<header class="menu">
  <a href="{{ .Site.Params.address | safeHTML }}" target="_blank" rel="noopener" class="title__link">{{
    .Site.Params.Titre }}</a>
  <div class="credits">
    {{ .Site.Params.credits | markdownify }}
    <div class="instructions">
      <div class="instructions__desktop">
        (<em>La souris et les flèches directionnelles permettent de s’orienter et de se déplacer dans cet
          antilivre.</em>)
      </div>
      <div class="instructions__mobile">
        (<em>La fonction de zoom permet de s’orienter et de se déplacer dans cet antilivre.</em>)
      </div>
    </div>
  </div>
</header>
